#include "resource.h"

ID_MAIN_MENU MENU DISCARDABLE
BEGIN
POPUP "&File"
 BEGIN
  MENUITEM "&Save and Exit",IDC_SAVE_AND_EXIT
  MENUITEM "&Exit",IDC_EXIT
  MENUITEM SEPARATOR
  MENUITEM "Discard And Exit",IDC_EXIT
 END
POPUP "&Edit"
 BEGIN
  MENUITEM "Next Question",IDC_NEXT_QUESTION
  MENUITEM "Previous Question",IDC_PREVIOUS_QUESTION
  MENUITEM "Multiple Changes",IDC_MULTIPLE_CHANGES
 END
END

// -- save and exit dialog box --//
ID_DIALOG_SAVE_AND_EXIT  DIALOG DISCARDABLE 0,0,392,79
FONT 8,"MS Sans Serif"
STYLE DS_MODALFRAME|WS_POPUP
CAPTION "Save and Exit Dialog"
BEGIN
  LTEXT "Number Of Questions",ID_STATIC_TIME_IN_MINUTES,2,11,145,12
  LTEXT "Time In Minutes",ID_STATIC_NUMBER_OF_QUESTIONS,2,27,50,14
  EDITTEXT ID_EDIT_NUMBER_OF_QUESTIONS,81,9,50,14,ES_READONLY|ES_LEFT
  EDITTEXT ID_EDIT_TIME_IN_MINUTES,81,28,50,14,ES_LEFT
  PUSHBUTTON "Save And Exit",ID_SAVE_AND_EXIT,300,10,50,14,BS_PUSHBUTTON
  PUSHBUTTON "Cancel",ID_CANCEL,300,31,50,14,BS_PUSHBUTTON
  LTEXT     "Save File As:",ID_STATIC_SAVE_AS,7,49,50,14
  EDITTEXT  ID_EDIT_SAVE_AS,83,50,144,10,ES_LEFT
  PUSHBUTTON "..",ID_CHOOSE_FILE,232,51,23,12,BS_PUSHBUTTON
END








